In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.groupby("Category")

In [4]:
df.groupby("Category").describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    640  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [5]:
df["spam"]=df["Category"].apply(lambda x: 1 if x=="spam" else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.Message,df.spam,test_size=0.25)

In [7]:
len(x_train)

4179

In [8]:
len(x_test)

1393

# now we change to text to numerical

# we use count vectoriser method ,sometime people use tf-idf method also used

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
x_train_count = cv.fit_transform(x_train.values)  # x_train_count convert text into number,because we know our model work only on number
x_train_count.toarray()[:3]


# all .... in matrix have different unique features names

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [10]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [11]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = cv.transform(emails)  # email_count use variable for convert text into number
model.predict(emails_count)

array([0, 1], dtype=int64)

In [12]:
# above data show 0 is ham and 1 is spam in array set

In [13]:
x_test_count = cv.transform(x_test)  # x_test_count use variable for convert text into number
model.score(x_test_count, y_test)

0.9856424982053122

# Sklearn Pipeline

# we use SQL pipeline ,it is more convinient

In [14]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),    # it helps to covert my text into vector
    ('nb', MultinomialNB())    # then use multinomial naive byes
])

In [15]:
clf.fit(x_train,y_train)  # here we use x_train rather x_train_count because here we used pipeline and in pipeline use converter

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [16]:
clf.score(x_test,y_test)

0.9856424982053122

# here accuracy is same

In [17]:
clf.predict(emails)

array([0, 1], dtype=int64)

# we use the pipeline method for reduce above method from pipeline

In [18]:
sample=input("Enter a message:")
data=cv.transform([sample]).toarray()
print(model.predict(data))

Enter a message:You won $460 cash prize in New Zealand.
[1]

# 1 means SPAM  and 0 means NOT SPAM